.education{
  font-style: italic;
  font-family: sans-serif;
}

.work-experience{
  font-family: cursive;
  color: blue;
}
.hello{
  font-size: 50px;
}

.goodbye{
  float: right;
}

.skills{
  font-variant: small-caps;
}
